/* StarPayUz - Custom Styles */
/* Напишите свой CSS здесь */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #030712;
  padding: 7px 20px;
}

button {
  background-color: #3B82F6;
  border: none;
  color: #fff;
}

body {
  font-family: 'Inter', sans-serif;
}